@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir.woff') format('woff'),
        url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url("../fonts/IRANSans/IRANSansWeb.eot");
    src: url("../fonts/IRANSans/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
        url("../fonts/IRANSans/IRANSansWeb.woff") format("woff"),
        url("../fonts/IRANSans/IRANSansWeb.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Yekan';
    src: url("../fonts/Yekan.eot");
    src: url("../fonts/Yekan.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Yekan.woff") format("woff"),
        url("../fonts/Yekan.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'IranNastaliq';
    src: url("../fonts/IranNastaliq.eot");
    src: url("../fonts/IranNastaliq.eot?#iefix") format("embedded-opentype"),
        url("../fonts/IranNastaliq.woff") format("woff"),
        url("../fonts/IranNastaliq.ttf") format("truetype");
    font-weight: normal;
}



body {
    direction: rtl;
    font-family: 'Vazir' !important;
    background-color: #FCFCFC;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

.btn-default {
    background-color: #45DC00;
    padding: 10px !important;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

.btn-default:hover {
    border: 1px solid #45DC00;
    background-color: transparent;
    color: #45DC00;
}

.btn-default-outline {
    border: 1px solid #45DC00;
    background-color: transparent;
    color: #45DC00;

}

.btn-default-outline:hover {
    color: #fff;
    background-color: #45DC00;

}

.active.fade-bottom {
    animation: fade-bottom 1s normal forwards ease-in-out;
    animation-iteration-count: 1;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.title {
    color: #45DC00;
    font-weight: bolder;
    text-shadow:  0px 11px 10px rgba(81,67,21,0.8);
}



/* header */

header {



    background-image: url('../images/Rectangle\ 90.png');
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-size: cover;
    background-position: center;



}

.header .header-title {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}

.header .header-title img {

    bottom: -300px;

}

.header .header-title h3 {
    font-family: 'IranNastaliq';
    color: #fff;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 20px;


}
.header .header-title h6{
    color: #fff;
}
.header .header-title h6 span{
    font-family: 'yekan';
}

.header .header-content{
    border: 1px solid #FCFCFC;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 150px;
    color: #fff;
}
.header .header-content p{
    line-height: 30px;
}

/* header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(1,34,67);
    background: linear-gradient(135deg, rgba(1,34,67,0.804359243697479) 0%, rgba(1,34,67,0.9640231092436975) 42%, rgba(1,34,67,1) 100%);
}

header::after{
    content: '';
    position: absolute;
    background-image: url('../images/pattern3.jpg');
    width:100%;
    left: 0;
    top: 0;
    
} */

.header-counter {

    position: relative;
}

.header-counter .counter-item {
    
    bottom: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    width: 120px;
    height: 120px;


}

.header-counter .counter-item:hover{
    transform: translateY(-15px);
    transition:.4s ease-in-out;
}

.header-counter .counter-item .counter {
    font-family: 'yekan';
    font-weight: bold;
    font-size: 20px;
}



.header-counter .counter-item:nth-child(1) {

    animation-name: title1;
    animation-duration: 1s;
    animation-delay: 0s;
    z-index: 1000;
}

.header-counter .counter-item:nth-child(2) {

    animation-name: title1;
    animation-duration: 2s;
    animation-delay: 0s;
}

.header-counter .counter-item:nth-child(3) {

    animation-name: title1;
    animation-duration: 3s;
    animation-delay: 0s;
}

@keyframes title1 {
    0% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0px);
    }
}



/* about */

.about {
    margin-top: 30px;
    padding: 80px 0;
    opacity: 0;
    position: relative;
    
    

} 
.about::before{
    content: '';
    position: absolute;
    width: 100%;
    
}

.about.active {
   
    opacity: 1;
}

.about p {
    line-height: 30px;
}


/* target */

.target {

    padding: 0px 0 40px 0;
    position: relative;
    opacity: 0;

}


.target .active {

    opacity: 1;
}

.target-overlay {

    position: absolute;
    background: rgb(1, 34, 68);
    background: linear-gradient(0deg, rgba(1, 34, 68, 0) 0%, rgba(1, 34, 68, 0.15168065517222518) 100%);
box-sizing: border-box;
padding: 0;
    width: 99%;
    height: 500px;
    transform: skew(10deg) rotate(10deg);
    z-index: 1;


}

.target img{
    z-index: 1000;
    padding-top: 80px;
}
.target .target-content{
    padding-top: 30px;

}




/* app */

.app {
    padding: 20px 0 10px 0;
    opacity: 0;
}

.app .app-content{
    padding: 10px 0;
}

.app .app-desc{
    padding-top: 70px;
}

.app .active {

    opacity: 1;
}




/* footer */

footer {
    background: rgb(0,4,40);
    background: linear-gradient(86deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%); 
    padding: 50px 0 0 0;

}

footer .contact-title {
    color: #fff;
    padding: 20px 0;
}

footer .contact-option {
    color: #c3c3c3;
    font-family: 'yekan';
}

footer .contact-option svg {
    color: #45DC00;
    padding-left: 5px;
    font-size: 25px;

}

footer .footer {
    border-top: 1px solid #3f3f3f;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    color: #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 15px;
}

@media screen and (max-width:768px) {

    .header .header-title h3 {
       
        font-size: 30px;
        
    
    }
    
    .header .header-content{
        display: none;
    }

    .header-counter .counter-item {
        
       
        background-color: #fff;
        display: flex;
        
        justify-content: center;
        align-items: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
        
        width:30px;
        height:30px;
    
    
    }
}

@media screen and (max-width:992px) {

    .header .header-title h3 {
       
        font-size: 35px;
        
    
    }
   

    
    .header-counter .counter-item {
        position: absolute;
        bottom: -90px;
        background-color: #fff;
        display: flex;
        
        justify-content: center;
        align-items: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border-radius: 10px;
        width:120px;
        height: 120px;
    
    
    }
}

